In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv("Engineering_graduate_salary.csv")
data

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,103174,f,1989-04-17,75.00,0,2005,73.00,0,1263,2,...,-1,-1,-1,-1,-1.1901,0.9688,-1.0697,1.35490,0.0284,120000
2994,352811,f,1991-07-22,84.00,state board,2008,77.00,state board,9481,2,...,-1,-1,-1,-1,-0.1082,0.0328,-0.4891,-0.29020,0.5024,120000
2995,287070,m,1988-11-24,91.40,bsemp,2006,65.56,bsemp,547,2,...,-1,-1,-1,-1,-0.8810,0.1888,-0.3440,0.06230,0.6603,385000
2996,317336,m,1988-08-25,88.64,karnataka education board,2006,65.16,karnataka education board,1629,2,...,-1,-1,-1,-1,1.4374,1.2808,-0.4891,-1.46537,0.5419,530000
2997,993701,m,1992-05-27,77.00,state board,2009,75.50,state board,1111,2,...,-1,-1,-1,-1,-0.5899,-1.9521,0.3174,1.16010,-2.3937,200000

In [44]:
def dummie(df,column):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix = column)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [125]:
def preprocessing(df):
    df=df.copy() 
    
    df=df.drop('ID',axis=1)
    
    df['Gender']= df['Gender'].replace({'f':1,'m':0})
    
    df['DOB'] = pd.to_datetime(df['DOB'])
    df['DOB_year'] = df['DOB'].apply(lambda x : x.year)
    df['DOB_month'] = df['DOB'].apply(lambda x : x.month)
    df['DOB_day'] = df['DOB'].apply(lambda x : x.day)
    
    df = df.drop('DOB',axis=1)
    
    for column in ['10board','12board','Degree','Specialization','CollegeState']:
        df= dummie(df,column)
    
    df = df.replace(-1, np.NaN)
    
    missing_col = [column for column in df.columns if df.isna().sum()[column]>0]
    for column in missing_col:
        df[column]= df[column].fillna(df[column].mean())
    
    y=df['Salary']
    x=df.drop('Salary', axis=1)
    
    x_train, x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,shuffle=True, random_state=1)
    
    return x_train, x_test,y_train,y_test

In [126]:
x_train, x_test,y_train,y_test= preprocessing(data)

In [127]:
x_train

,Gender,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,...,CollegeState_Orissa,CollegeState_Punjab,CollegeState_Rajasthan,CollegeState_Sikkim,CollegeState_Tamil Nadu,CollegeState_Telangana,CollegeState_Union Territory,CollegeState_Uttar Pradesh,CollegeState_Uttarakhand,CollegeState_West Bengal
268,1,83.00,2009,73.00,7627,2,67.00,7627,0,2013,...,0,0,0,0,0,0,0,1,0,0
32,1,83.60,2008,74.00,55,2,71.00,55,0,2013,...,0,0,0,0,0,0,0,1,0,0
199,0,85.00,2009,85.60,8819,2,80.00,8819,1,2015,...,0,0,0,0,0,1,0,0,0,0
1642,0,78.16,2010,64.83,137,2,63.65,137,0,2014,...,0,0,0,0,0,0,0,1,0,0
228,0,83.40,2006,77.40,49,1,70.00,49,0,2011,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,0,72.33,2009,67.00,4450,2,70.84,4450,0,2013,...,0,0,0,0,0,0,0,1,0,0
905,0,78.00,2008,64.00,11583,2,58.00,11583,0,2013,...,0,0,0,0,0,0,0,0,0,0
1096,0,72.00,2009,62.00,7600,2,69.00,7600,0,2013,...,0,0,0,0,0,0,0,1,0,0
235,0,73.00,2008,74.00,1227,2,69.20,1227,1,2012,...,0,0,0,0,1,0,0,0,0,0
1061,0,70.75,2009,63.00,14483,2,75.00,14483,1,2013,...,0,0,0,0,0,0,0,0,0,1

In [128]:
x_test

,Gender,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,...,CollegeState_Orissa,CollegeState_Punjab,CollegeState_Rajasthan,CollegeState_Sikkim,CollegeState_Tamil Nadu,CollegeState_Telangana,CollegeState_Union Territory,CollegeState_Uttar Pradesh,CollegeState_Uttarakhand,CollegeState_West Bengal
749,0,49.00,2007,75.00,9738,2,65.00,9738,0,2011,...,0,0,0,0,0,0,0,1,0,0
2664,0,75.00,2010,71.60,16092,2,68.75,16092,0,2014,...,0,0,0,0,0,0,0,0,0,0
1392,1,54.60,2005,61.40,2819,2,70.86,2819,0,2012,...,0,0,0,0,0,0,0,1,0,0
1916,0,86.90,2007,91.70,9184,2,67.00,9184,1,2011,...,0,0,0,0,0,1,0,0,0,0
2995,0,91.40,2006,65.56,547,2,73.19,547,0,2011,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,0,95.04,2008,87.00,1384,2,86.50,1384,0,2012,...,0,0,0,0,0,0,0,0,0,0
94,0,58.00,2009,62.00,184,2,70.68,184,0,2014,...,0,0,0,0,0,0,0,1,0,0
2839,0,91.00,2007,90.40,9072,2,79.70,9072,0,2012,...,1,0,0,0,0,0,0,0,0,0
2006,0,89.12,2008,74.33,1866,2,77.89,1866,1,2012,...,0,0,0,0,0,0,0,0,0,0
1628,0,78.28,2006,53.55,1930,2,57.00,1930,0,2010,...,0,0,0,0,0,0,0,0,0,0

In [129]:
y_train

268     325000
32      450000
199     120000
1642    235000
228     510000
         ...
2763    700000
905     120000
1096    180000
235     310000
1061    300000
Name: Salary, Length: 2398, dtype: int64

In [130]:
y_test

749     120000
2664    320000
1392    145000
1916    350000
2995    385000
         ...
2184    530000
94      180000
2839    405000
2006    430000
1628    455000
Name: Salary, Length: 600, dtype: int64